<%-include("../head.ejs")%>

<link rel="stylesheet" href="/styles/jobdetails.css" />
<body>
  <div class="dashboard-container">
    <div class="box"><%-include("admin-sidebar.ejs")%></div>
    <div class="box1">
      <%-include("../topbar.ejs")%>
      <div class="main-contents">
        <div class="info-container">
          <div class="cards">
            <div class="card">
              <p>Total Users</p>
              <p><%=userCount%></p>
            </div>

            <div class="card">
              <p>Total Organization</p>
              <p><%=orgCount%></p>
            </div>

            <div class="card">
              <p>Total Jobs</p>
              <p><%=jobCount%></p>
            </div>
          </div>

          <div class="chart-parent">
            <div style="width: 800px"><canvas id="acquisitions"></canvas></div>
            <div>
              <canvas id="acquisitions-pie"></canvas>
            </div>
          </div>

          <script type="module" src="/javascript/acquisitions.js"></script>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include("../components/foot")%>
