<%-include("../head.ejs")%>

<link rel="stylesheet" href="/styles/jobdetails.css" />
<body>
  <div class="dashboard-container">
    <div class="box"><%-include("../sidebar.ejs")%></div>
    <div class="box1">
      <%-include("../topbar.ejs")%>
      <div class="main-contents">
        <div class="info-container">
          <div class="cards">
            <div class="card">
              <p>Offered Salary</p>
              <p><%=job.salary%></p>
            </div>

            <div class="card">
              <p>Location</p>
              <p><%=job.Organization.location%></p>
            </div>

            <div class="card">
              <p>Job Type</p>
              <p><%=job.jobType%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include("../components/foot")%>
