<%-include("../head.ejs")%>

<link rel="stylesheet" href="/styles/Joblist.css" />

<body>
  <div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar-box"><%-include("OrgSidebar.ejs")%></div>
    <div class="box2">
      <%-include("../topbar.ejs")%>
      <div class="main-wrapper">
        <div class="main-content">
          <div class="title">
            <p>Applicants</p>
          </div>

          <div class="jobs-grid">
            <% if (applicants.length === 0) { %>
            <p>No Applicants Yet</p>
            <% } else { %> <% applicants.forEach(function(app) { %>
            <div class="job-card">
              <h3 class="job-title"><%= app.User.username %></h3>
              <p class="job-subtitle">Position: <%=app.job.title%></p>
              <a
                href="/applicants/details?id=<%=app.User.user_id%>"
                class="details-btn"
                >View Details</a
              >
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>
    </div>
    <!-- MAIN CONTENT -->
  </div>
</body>
