<%-include("../head.ejs")%>

<link rel="stylesheet" href="/styles/usereducation.css" />

<body>
  <div class="dashboard-container">
    <div class="box"><%-include("../sidebar.ejs")%></div>

    <div class="box1">
      <%-include("../topbar.ejs")%>
      <div class="main-contents">
        <div class="edit">
          <p>Education</p>
          <div class="tabs">
            <a href="/users/education" class="tab active">Education Details</a>
            <a href="/users/experience" class="tab">Experience Details</a>
            <a href="/users/socials" class="tab">Social Details</a>
            <a href="/users/viewresume" class="tab">View Resume</a>
          </div>
        </div>

        <div class="info-section">
          <div class="education-table">
            <table>
              <thead>
                <tr>
                  <th>Degree</th>
                  <th>Field of Study</th>
                  <th>University</th>
                  <th>College</th>
                  <th>Joined Year</th>
                  <th>End Year</th>
                </tr>
              </thead>

              <tbody>
                <%if(!education || education.length == 0){%>
                <tr>
                  <td colspan="6">No education details available</td>
                </tr>
                <%} else{%> <%education.map((edu)=>{%>
                <tr>
                  <td><%=edu.degree%></td>
                  <td><%=edu.fieldOfStudy%></td>
                  <td><%=edu.university%></td>
                  <td><%=edu.college%></td>
                  <td><%=edu.joined%></td>
                  <td><%=edu.passed%></td>
                </tr>
                <%})%> <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="btn-row">
        <button class="save-btn" id="saveBtn">Save</button>
        <button class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>
</body>
<%-include("../components/foot")%>
