<%-include("../head.ejs")%>

<link rel="stylesheet" href="/styles/usereducation.css" />

<body>
  <div class="dashboard-container">
    <div class="box"><%-include("../sidebar.ejs")%></div>

    <div class="box1">
      <%-include("../topbar.ejs")%>
      <div class="main-contents">
        <div class="edit">
          <p>Experience</p>
          <div class="tabs">
            <a href="/users/education" class="tab">Education Details</a>
            <a href="/users/experience" class="tab active"
              >Experience Details</a
            >
          </div>
        </div>

        <div class="info-section">
          <div class="education-table">
            <table>
              <thead>
                <tr>
                  <th>Organization</th>
                  <th>Position</th>
                  <th>Industry</th>
                  <th>Job Type</th>
                  <th>Roles</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                </tr>
              </thead>

              <tbody>
                <%if(!experience || experience.length==0){%>
                <tr>
                  <td colspan="7">No experience details available</td>
                </tr>
                <%} else{%> <%experience.map((edu)=>{%>
                <tr>
                  <td><%=edu.organization%></td>
                  <td><%=edu.position%></td>
                  <td><%=edu.industry%></td>
                  <td><%=edu.jobType%></td>
                  <td><%=edu.roles%></td>
                  <td><%=edu.startDate%></td>
                  <td><%=edu.endDate%></td>
                </tr>
                <%})%> <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include("../components/foot")%>
