<%-include("../head.ejs")%>

<link rel="stylesheet" href="/styles/jobdetails.css" />
<body>
  <div class="dashboard-container">
    <div class="box"><%-include("../sidebar.ejs")%></div>
    <div class="box1">
      <%-include("../topbar.ejs")%>
      <div class="main-contents">
        <div class="info-container">
          <div class="top1">
            <div class="logo1">
              <img src="/images/complogo.svg" alt="" />
              <div class="text">
                <p><%=job.title%></p>
                <p class="org"><%=job.Organization.name%></p>
                <p><%=job.Organization.location%></p>
              </div>
            </div>
            <div class="btn">
              <button
                id="apply"
                data-job-id="<%=job.id%>"
                data-org-id="<%=job.Organization.id%>"
              >
                Apply now
              </button>
            </div>
          </div>

          <div class="cards">
            <div class="card">
              <p>Offered Salary</p>
              <p>Rs <%=job.salary%></p>
            </div>

            <div class="card">
              <p>Location</p>
              <p><%=job.Organization.location%></p>
            </div>

            <div class="card">
              <p>Job Type</p>
              <p><%=job.jobType%></p>
            </div>
          </div>

          <div class="cont-parent">
            <div class="descripton">
              <p class="title">Job Description</p>
              <p><%=job.description%> <br /></p>
            </div>

            <div class="res">
              <p class="title">Requirements</p>

              <p>Education</p>
              <li><%=job.education%></li>
              <p>Skills</p>
              <li><%=job.requiredskills%></li>
              <p>Experience</p>
              <li><%=job.experience%> years</li>
            </div>

            <div class="res">
              <p class="title">Roles and Responsibilities</p>
              <p><%=job.rolesandresponsibilities%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include("../components/foot")%>
<script>
  const apply = document.getElementById("apply");
  apply.addEventListener("click", function (e) {
    e.preventDefault();
    console.log("button clicked");
    const jobId = apply.dataset.jobId;
    const orgId = apply.dataset.orgId;

    console.log(jobId, orgId);

    fetch("/users/apply", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        jobId: jobId,
        orgId: orgId,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.title == "success") {
          Toast.fire({
            icon: "success",
            title: data.message,
          });
        } else {
          Toast.fire({
            icon: "error",
            title: data.message,
          });
        }
      })
      .catch((error) => {
        console.log("registration unsuccessful", error);
        Toast.fire({
          icon: "error",
          title: "Something went wrong while registration",
        });
      });
  });
</script>
